body {
  margin-top: 0;
  margin-left: 0;
}

#container {
  width: 100%;
  display: flex;
  /*position: relative;*/
  margin-top: 0;
  z-index: 3;
}

header {
  display: flex;
  width: 100%;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  position: fixed;
  background-color: white;
  z-index: 5;
  margin-top: 0;

}

#logo {
  color: MediumAquamarine;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  flex-grow: 1;
  border: 1px black solid;
  z-index: 5;
  padding-left: 30px;

}

h3 {

  margin-left: 10px;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding-right: 30px;
  flex-grow: 1;
}

span {
  margin: 0 15px;
  display: inline-block;
}

span a {
  color: black;
}

div{
  border: 1px solid black;
}

#content {
  display: flex;
  position: relative;
  margin-top: 73px;
  z-index: 3;
  justify-content: space-around;
}
.column {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-right: 40px;
}
.column.large {
  width: 630px;

}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}
