body {
  margin-top: 0;
  margin-left: 0;
}

#container {
  width: 100%;
  display: flex;
  position: relative;
  margin-top: 0;
  z-index: 3;
}

header {
  display: flex;
  width: 100%;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  position: fixed;
  background-color: white;
  z-index: 5;
  margin-top: 0;

}

#logo {
  color: MediumAquamarine;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  flex-grow: 1;
  border: 1px black solid;
  z-index: 5;
  padding-left: 30px;

}

h3 {

  margin-left: 10px;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding-right: 30px;
  flex-grow: 1;
}

p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

span {
  margin: 0 15px;
  display: inline-block;
}

span a {
  color: black;
}

div{
  border: 1px solid black;
}

#content {
  display: flex;
  position: relative;
  margin-top: 73px;
  z-index: 3;
  justify-content: space-around;
}
.column {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-right: 40px;
}
.column.large {
  width: 630px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
  display: flex;
  flex-direction: column;
}

.img span {
  font-size: 40px;
  color: white;
  font-family: Georgia;
  font-weight: bold;
}

 .img h1 {
  color: white;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin-top: 0;
}

.img {
  display: flex;
  height: 300px;
  align-items: flex-start;
  justify-content: center;
}

.mother {
  background-image: url(../../resources/images/img-story-main.png);
  background-repeat: no-repeat;
}

.earth {
background-image: url("../../resources/images/img-story-2.png");
width: 300px;
}

.research {
  background-image: url("../../resources/images/img-story-3.png");
  width: 300px;
}

.cats {
  background-image: url("../../resources/images/img-story-1.png");
}

.stories {
  display: flex;
  justify-content: space-between;
}

.story {
  width: 300px;
}

.bites {
  justify-content: center;

}

.bites h2{
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding: 20px;
}

.bites span {
  display: block;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-right: 0;
  margin-left: 0;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  padding: 10px;
}
